html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}


body {
    font-family: 'Prompt', serif;
    letter-spacing: 1px;
    position: relative;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    max-height: fit-content;
    background-color: #000000;
    flex-wrap: wrap;
}

.header p {
    color: white;
    font-size: larger;
    height: 30% !important;
}

.header * {
    height: 90%;
    width: auto;
    margin-inline: max(1rem, 1vw);
}

.header-logo {
    height: 40%;
    margin: 0 2rem;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.header button {
    background: none;
    border: none;
}

.header button img {
    margin: 0;
    transform: scale(0.7);
}

.header button:hover {
    cursor: pointer;
}

main {
    width: 100%;
    min-height: 50vh;
    height: max-content;
    background-color: black;
    position: relative;
}

#main-logo {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("assets/bg_s.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 80vh;
    z-index: -1;
}

#mma-masters-logo-wrapper {
    width: 25%;
    margin: -4rem auto 0;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mma-masters-logo {
    background: none;
    width: 80%;
    max-width: 600px;
    height: auto;
}

main .main-banner {
    background-image: radial-gradient(ellipse closest-side at center, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.8) 100%), url("assets/bg_s.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 80vh;
    width: 100%;
}

.accordion {
    border-radius: 4px;
    background-color: #333;
    font-size: 1.25rem;
    border: none;
    font-weight: bolder;
    z-index: 100;
}

.accordion-header {
    padding: 2rem;
    cursor: pointer;
    background-image: linear-gradient(to right, #000, #222, #000);
    border: none;
    transition: 0.5s;
    text-align: center;
    color: #FFFFFF;
}

.accordion-header:hover {
    color: #7bcb00;
}

.accordion-header:active {
    color: #7bcb00;
}

.accordion-content {
    padding: 0.1rem 0;
    display: none;
    background-image: linear-gradient(to right, #000, #7bcb00, #000);
    color: white;
}

.accordion-content-wrapper {
    padding: 2rem 5%;
    background-color: black;
    text-align: center;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-description {
    margin-top: -1.25rem;
}

.accordion-content-wrapper h3 {
    color: #7bcb00;
    margin: 2rem auto;
}

.dropdown-menu {
    max-height: 0;
    z-index: 1;
    transition: max-height 0.5s;
}

#dropdownMenu {
    visibility: hidden;
}

.visible {
    height: 100%;
    max-height: 100%;
}

.accordion {
    color: #7bcb00;
}

.gallery-pic, .embed-video {
    width: min(60rem);
    height: auto;
    margin: 4rem 0;
    border-radius: 15px;
}

#entry-pic {
    width: 30%;
}

.embed-video {
    margin: 2rem 0;
    border: none;
    min-height: 35rem;
}

footer {
    background-color: #000;
    width: 100%;
    min-height: 30vh;
    height: max-content;
    border-top: 2px solid #7bcb00;
}

.footer-content {
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    width: 90%;
    height: 80%;
}

.otevreno, .adresa, .map-media {
    padding: 1rem 3rem;
    text-align: center;
    width: max-content;
    min-height: 80%;
}

.footer-content h3 {
    color: #7bcb00;
    font-size: x-large;
}

.footer-content p {
    font-size: large;
    letter-spacing: 2px;
}

.otevreno {
    display: flex;
    flex-direction: column;
}

.otevreno p {
    margin: 5px 0;
    text-align: center;
    flex-grow: 1;
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}

.social-media a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.social-media a img {
    width: 3rem;
    height: 3rem;
    transition: 0.5s;
    margin: auto 2%;
}

.social-media a img:hover {
    cursor: pointer;
}

.map iframe {
    border-radius: 10px;
}

.map-media {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0;
}

.footer-contact {
    display: none;
}

.reservations-link {
    width: 20%;
    max-width: 300px;
    height: 3rem;
    max-height: 90%;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px solid lawngreen;
    font-size: small;
    text-decoration: none;
    padding: 1rem 2rem;
    transition: 0.3s;
}

.reservations-link:hover {
    border: 3px solid white;
    color: lawngreen;
    box-shadow: 0 0 5px 1px white;
}

.contact-form * {
    display: flex;
    flex-direction: column;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    min-height: 40rem !important;
}

.contact-form button {
    padding: 2rem 5rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: 1px solid lawngreen;
    font-size: large;
    font-family: inherit;
    text-decoration: none;
    transition: 0.1s;
    align-items: center;
}

.contact-form button:hover {
    border: 1px solid white;
    color: lawngreen;
    box-shadow: 0 0 5px 2px white;
}

.contact-form input, textarea {
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
    margin-top: 1rem;
    text-align: center;
    border-radius: 1rem;
    font-family: inherit;
    font-size: large;
}

textarea {
    min-height: 15rem;
    padding: 1rem 0;
}

.contact-form input:focus, textarea:focus {
    border: none;
    outline: none;
}

.contact-form label {
    flex-grow: 1;
    align-items: center;
    width: 40%;
    min-width: 400px;
}

.contact-form {
    min-height: 30rem;
}

.pdf_btn {
    width: 20%;
    min-width: min-content;
    padding: 2rem 5rem;
    margin: 1rem auto;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: 1px solid lawngreen;
    font-size: large;
    font-family: inherit;
    text-decoration: none;
    transition: 0.1s;
    align-items: center;
    text-align: center;
}

.pdf_btn:hover {
    border: 1px solid white;
    color: lawngreen;
    box-shadow: 0 0 5px 2px white;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {

    .header p {
        display: none;
    }

    .footer-contact {
        display: block;
    }

    #mma-masters-logo-wrapper {
        width: 60%;
        padding-top: 6rem;
    }

    .gallery-pic, .embed-video {
        width: 60%;
    }
}

@media only screen and (max-width: 700px) {
    .accordion-content-wrapper {
        padding: 5% 7%;
        letter-spacing: 1px;
        text-align: justify-all;
        font-size: medium;
    }

    .embed-video {
        min-height: 20rem;
    }

    .main {
        height: max-content;
    }

    .main-banner {
        max-height: 50vh !important;
    }

    .footer-content {
        padding: 0;
    }

    .otevreno {
        padding: 1rem
    }

    .gallery-pic, .embed-video {
        width: 90%;
        margin: 2rem 0;
        border-radius: 5px;
    }

    .map-media {
        margin-top: 1rem;
        padding-bottom: 2.5rem;
    }

    #mma-masters-logo-wrapper {
        width: 80%;
        padding-top: 6rem;
    }

    .map-media iframe {
        margin-bottom: 2rem;
    }

    #entry-pic {
        width: 90%;
        height: auto;
    }

    .contact-form label {
        width: 90%;
        min-width: 90vw;
    }

    .contact-form button {
        width: 50%;
        text-align: center;
        padding: 1rem 3.5rem;
        border: 3px solid #7bcb00;
    }

    .reservations-link {
        font-size: x-small;
    }
}



