:root {
    --clr-primary-200: #FFF;
    --clr-primary-400: #63c917;
    --clr-primary-500: #0f6e01;
    --clr-primary-700: #444;
    --clr-primary-800: #333;
    --clr-primary-900: #222;
    --clr-header: #414141;
    --clr-filter: hsla(0, 1%, 25%, 0.54);

    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Playfair Display', serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    max-height: fit-content;
    background-color: #000000;
    flex-wrap: wrap;
}

.header * {
    height: 90%;
    width: auto;
    margin-inline: max(1rem, 1vw);
}

.header-logo {
    height: 70%;
    width: auto;
}

.header button {
    background: none;
    border: none;
}

.header button img {
    margin: 0;
    transform: scale(0.7);
}

.header button:hover {
    cursor: pointer;
    border-radius: 1rem;
    background-color: #222;
}

main {
    width: 100%;
    height: 30rem;
}

main .main-banner img {
    width: 100%;
    height: auto;
}

.accordion {
    border-radius: 4px;
    background-color: #333;
    font-size: 1.25rem;
    font-weight: bolder;
    border: none;
}

.accordion-header {
    padding: 2rem;
    cursor: pointer;
    background-color: #111;
    border: none;
    transition: 0.5s;
}

.accordion-header:hover {
    color: #FFFFFF;
}

.accordion-content {
    padding: 0.25rem 0;
    display: none;
    background-color: #3d9300;
    color: white;
}

body {
    width: 100%;
    margin: 0 auto;
    background: white;
    font-family: "Arial", serif;
}

.dropdown-menu {
    max-height: 0;
    transition: max-height 0.5s;
}

#dropdownMenu {
    z-index: 2;

}

.visible {
    max-height: max-content;
}

.accordion {
    color: #63c917;
}
